include CHANGES.txt
include LICENSE.txt
include MANIFEST.in
include README.txt
recursive-include bin *
recursive-include docs *
recursive-include projy/collectors *.py
recursive-include projy/templates *.py
recursive-include projy/templates *.txt
recursive-include projy/tests *
global-exclude *.pyc
global-exclude *.pyo
